:root {
    --verde: #25d366;
    --azul: #1877f2;
    --red: #e50914;
    --yellow: #f3b125;
    --white: #ffffff;
    --purple: #572364;
    --purple2: #8c004b;
}

#main .carousel-inner img {
    max-height: 35rem;
    object-fit: cover;
    
}

#carousel {
    position: relative;
  }

.text-revendedor {
    color: var(--purple2)!important;
}

#tablaProducto {
    width: 100%;
    border: 1px solid gray;
    color: black;
    background-color: var(--white);
    
}
#header-nav {
    background-color: var(--white);
    border: 1px solid gray;
}
.titleHead {
    color: black;
}
.tbody {
    border: 1px solid gray;
    color: black;
}
.td {
    border: 1px solid gray;
    background-color: black;
}
.body {
    background: linear-gradient(black, var(--purple));
    color: black;
}

#header-nav ul li a .nav-link:hover {
    color: var(--red)!important;
}

#whatsapp {
    margin:5px;
}


#logo-whatsapp {
    color: #25d366;
    width: 1rem;
    height: 1rem;  
}
.pedidos {
    color: var(--white);
}
#whatsapp img {
    width: 30px;
    height: 30px;
    color: var(--verde);
}

#footer .optionsFooter {
    color: var(--white);
}