@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --color-black: #000000; /* Negro */
    --color-yellow: #ffd43a; /* Amarillo */
    --color-red: #ff6f61; /* Rojo */
    --color-blue: #243447; /* Azul medianoche */
    --color-white: #fdfcfd; /* Blanco */
    --color-chocolate: #705c53; /* Chocolate */

    --font-title: "Righteous", serif;
    --font-body: "Montserrat", serif;
}

#header img {
    width: 50px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    background: var(--café)!important;
}

.custom-bg-color {
    background-color: var(--color-blue);
}

.custom-color {
    color: var(--color-yellow);
}

.navbarOptions {
    color: var(--color-yellow)!important;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    font-weight: bolder;
}

.navbarOptions:hover {
    color: var(--color-red)!important;
}

#whatsapp {
    margin: 5px;
}

.text-revendedor {
    color: var(--color-white);   
}

.text-revendedor:hover {
    color: var(--color-red);
}

body {
    background: var(--color-black);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

#main .carousel-inner img {
    max-height: 75vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
    margin-bottom: 4rem;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-white);
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#carousel .overlay p {
    font-size: 18px;
}

a .btn-combos {
    background-color: var(--color-red);
    color: var(--color-white);
    margin: 10px;
}

a .btn-combos:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
}

small {
    font-size: 26px;
    font-weight: bold;
    color: var(--color-white);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
    /*rgba(245, 241, 241, 0.9)*/
}

h2 {
    color: var(--color-white);
    font-size: 44px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}

section img {
    border: 1px solid var(--color-chocolate);
}

.card {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    /*rgba(255, 255, 255, 0.8);*/
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(209, 195, 0, 0.902);
}

.comprar :hover{
    background-color: var(--color-yellow)!important;
}

.info-streaming {
    background-color: var(--color-white);
    color: var(--color-blue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    margin: 2rem;
    color: var(--color-white);
}

footer a {
    text-decoration: none;
    color: var(--vino);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

footer a:hover {
    color: var(--color-red);
}

/*Combos*/
#combos {
    margin-top: 3rem;
}


