:root {
    --blue: #473ec9;
    --white: #fff;
    --red: #db0a0a;
    --red2: #830101;
    --gray: gray;
    /* Navidad */

    --crema: #f3eacf;
    --mostaza: #dab880;
    --zapote: #cd8640;
    --rojoNavidad: #a31414;
    --vino: #65090c;
    --café: #50090a;
    --verdeNavidad: #058076;
    --amarilloNavidad: #d7ad3b;
}

#header img {
    width: 50px;
    border: 1px solid var(--white);
    border-radius: 50%;
    background: var(--café)!important;
}

.custom-bg-color {
    background-color: var(--red);
}

.custom-color {
    color: var(--white);
}

.navbarOptions {
    color: var(--crema);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    font-weight: bolder;
}

.navbarOptions:hover {
    color: var(--verdeNavidad);
}

#whatsapp {
    margin: 5px;
}

.text-revendedor {
    color: var(--amarilloNavidad);   
}

.text-revendedor:hover {
    color: var(--verdeNavidad);
}

body {
    background-image: url(./image/bolas-de-navidad.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

#main .carousel-inner img {
    max-height: 75vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
    margin-bottom: 4rem;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--crema);
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

#carousel .overlay p {
    font-size: 18px;
}

a .btn-combos {
    background-color: var(--rojoNavidad);
    color: var(--white);
    margin: 10px;
}

a .btn-combos:hover {
    background-color: var(--verdeNavidad);
    color: white;
}

small {
    font-size: 26px;
    font-weight: bold;
    color: var(--rojoNavidad);
    text-shadow: 2px 2px 2px rgba(253, 253, 2, 0.9);
    /*rgba(245, 241, 241, 0.9)*/
}

h2 {
    color: var(--rojoNavidad);
    font-size: 44px;
    text-shadow: 2px 2px 2px rgba(253, 253, 2, 0.9);
}

section img {
    border: 1px solid var(--gray);
}

.card {
    box-shadow: 0px 0px 10px rgba(253, 253, 2, 0.9);
    /*rgba(255, 255, 255, 0.8);*/
    border-width: 1px;
    border-style: solid;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(14, 133, 20, 0.9);
}

.comprar :hover{
    background-color: var(--verdeNavidad)!important;
}

.info-streaming {
    background-color: var(--crema);
    color: var(--café);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    margin: 2rem;
    color: var(--red);
}

footer a {
    text-decoration: none;
    color: var(--vino);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

footer a:hover {
    color: var(--verdeNavidad);
}

/*Combos*/
#combos {
    margin-top: 3rem;
}


